@import "tailwindcss";
/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: #f9f9f9;
  line-height: 1.6;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2c3e50;
}

.btn-header {
  text-decoration: none;
  background-color: #0077ff;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
  font-weight: 500;
  transition: background 0.3s ease;
}

.btn-header:hover {
  background-color: #005ed1;
}

/* Hero Section */
.hero {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:url(../assets/minimalist-arrangement-with-empty-paper.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  padding: 0 2rem;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  max-width: 600px;
  margin: 0 auto 1.5rem;
}

.btn-primary {
  text-decoration: none;
  background-color: white;
  color: #0077ff;
  padding: 0.8rem 1.8rem;
  border-radius: 25px;
  font-weight: 600;
  transition: transform 0.3s ease, background 0.3s ease;
}

.btn-primary:hover {
  transform: translateY(-3px);
  background-color: #f1f1f1;
}

/* CTA Section */
.cta {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #ffffff;
}

.cta h2 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.cta p {
  color: #555;
  margin-bottom: 1.5rem;
}

.btn-secondary {
  text-decoration: none;
  background-color: #0077ff;
  color: white;
  padding: 0.8rem 1.8rem;
  border-radius: 25px;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn-secondary:hover {
  background-color: #005ed1;
  transform: translateY(-3px);
}

/* Footer */
.footer {
  text-align: center;
  padding: 1.2rem;
  background-color: #2c3e50;
  color: #ffffff;
  font-size: 0.9rem;
}
.visible_section{
  display: none;
}
